* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    

}
.container {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    margin-top: 5em;
}

 
input {
    display: block;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #EFEFEF;
    background: #EFEFEF;
    width: 100%;
    font-size: 18px;
}
.form-control {
    margin-bottom: 16px;
}
a, button {
    display: inline-block;
    background: #EFEFEF;
    border-radius: 8px;
    border: 1px solid #ABABAB;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
}
.button-group {
    margin-bottom: 16px;
}